<!DOCTYPE html>
<html>
<head>
  <title>TechPDX Calendar</title>
</head>
<body>
  <div class="mx-auto max-w-screen-xl px-4 py-4 bg-grey10 sm:px-6 sm:py-12 lg:px-8">
    <div class="bg-white w-3/5 border-2 rounded-lg border-grey8">
      <div class="pb-4 pt-6 pl-4 pr-4 bg-grey10">
        <div class="mb-4">
          <p class="text-base text-grey3"> Upcoming Events </p>
        </div>
      </div>
      <div class="p-6">
        <% if @events_today.empty? %>
          <div class="mb-4">
            <p class="font-medium text-grey5"> No events today </p>
          </div>
        <% else %>
          <div class="mb-4">
            <div class="mb-2">
              <h2 class="text-grey5 font-medium" > Today </h2>
            </div>
            <div class="grid grid-cols-4 gap-2">
              <% @events_today.each do |date, events| %>
                <div class="col-span-1 py-9">
                  <div class="flex flex-col">
                    <div class="text-base text-grey4 font-medium">
                      <%= date.strftime('%B %d, %Y') %>
                    </div>
                    <div class="text-sm text-grey4">
                      <%= date.strftime('%A') %>
                    </div>
                  </div>
                </div>
                <div class="col-span-3">
                  <ul>
                    <% events.each do |event| %>
                      <div class="border-b border-grey9">
                        <%= render partial: 'event_preview', locals: { event: event} %>
                      </div>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
       
        <% end %>
        <% if @events_tomorrow.empty? %>
          <div class="mb-4">
            <p class="font-medium text-grey5"> No events tomorrow </p>
          </div>
        <% else %>
          <div class="mb-4">
            <div class="mb-2">
              <h2 class="text-grey5 font-medium" > Tomorrow </h2>
            </div>
            <div class="grid grid-cols-4 gap-2">
              <% @events_tomorrow.each do |date, events| %>
                <div class="col-span-1 py-9">
                  <div class="flex flex-col">
                    <div class="text-base text-grey4 font-medium">
                      <%= date.strftime('%B %d, %Y') %>
                    </div>
                    <div class="text-sm text-grey4">
                      <%= date.strftime('%A') %>
                    </div>
                  </div>
                </div>
                <div class="col-span-3">
                  <ul>
                    <% events.each do |event| %>
                      <div class="border-b border-grey9">
                        <%= render partial: 'event_preview', locals: { event: event } %>
                      </div>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @events_next_two_weeks.empty? %>
          <div class="mb-4">
            <p class="font-medium text-grey5"> No events the next two weeks </p>
          </div>
        <% else %>
          <div class="mb-4">
            <div class="mb-2">
              <h2 class="text-grey5 font-medium" > Next Two Weeks </h2>
            </div>
            <div class="grid grid-cols-4 gap-2">
              <% @events_next_two_weeks.each do |date, events| %>
                <div class="col-span-1 py-9">
                    <div class="flex flex-col">
                      <div class="text-base text-grey4 font-medium">
                        <%= date.strftime('%B %d, %Y') %>
                      </div>
                      <div class="text-sm text-grey4">
                        <%= date.strftime('%A') %>
                      </div>
                    </div>
                  </div>
                <div class="col-span-3">
                  <ul>
                    <% events.each do |event| %>
                      <div class="border-b border-grey9">
                        <%= render partial: 'event_preview', locals: { event: event } %>
                      </div>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>