<!DOCTYPE html>
<html>
<head>
  <title><%= @event.title %> - TechPDX Calendar</title>
</head>
<body class="flex flex-col min-h-screen">
  <div class="flex-grow max-w-screen-xl sm:px-6 sm:py-12 lg:px-8">
    <div class="border-2 border-grey9 rounded-lg">
      <div class="p-4 pl-6 bg-grey10">
        <h1 class="text-2xl text-grey3"><%= @event.title %></h1>
      </div>
      <div class="p-6">
        <p class="text-sm text-grey4 mb-8"><%= @event.description %></p>
        <dl class="">
          <div class = "flex flex-row items-baseline mb-4">
            <div class="">
              <dd class="text-sm text-grey4"><%= @event.start_time.in_time_zone('Pacific Time (US & Canada)').strftime('%B %d, %Y %I:%M %p') %></dd>
            </div>
            <div class="text-sm ml-4 text-grey4">
            </div>
            <div class="ml-4">
              <dd class="text-sm text-grey4"><%= @event.end_time.in_time_zone('Pacific Time (US & Canada)').strftime('%B %d, %Y %I:%M %p') %></dd>
            </div>
          </div>
          <div class="mb-4">
            <dd class="text-sm text-grey4"><%= @event.venue_details %></dd>
          </div>
          <div class="mb-4">
            <dd class="text-sm text-grey4 font-semibold"><%= link_to @event.website, @event.website, target: "_blank" %></dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</body>
</html>