<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%= favicon_link_tag asset_path('cal.ico') %>
    <title><%= content_for(:title) || "TechPDX Calendar" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="bg-gradient-to-r from-green4 to-green2">
      <div class="mx-auto max-w-screen-xl px-4 py-4 sm:px-6 sm:py-12 lg:px-8">
        <div class="flex items-row md:flex-row md:items-center md:justify-between">
          <div class="flex flex-row items-baseline">
            <div>
              <p class="text-2xl text-grey10 sm:text-3xl"><%= link_to 'TechPDX Calendar' , home_event_path %></p>
              <p class="text-green7 mt-2">Version 0.3.0</p>
            </div>
              <div class="ml-6">
                <p class="text-green9 font-medium hover:border-b-2 hover:border-current"><%= link_to 'Add Event' , add_event_path %></p>
              </div>
              <div class="ml-4">
                <p class="text-green9 font-medium hover:border-b-2 hover:border-current"><%= link_to 'Import Event' , import_events_path %></p>
              </div>
              <div class="ml-4 flex items-center hover:border-b-2 hover:border-green9">
                <p class="text-green9 font-medium "><%= link_to 'Subscribe' , events_feed_url(protocol: :webcal, format: :ics) %></p><i class="text-green7 fas fa-calendar-alt ml-2"></i>
              </div>
          </div>
          <div class="mr-2 w-1/4">
            <div>
              <%= form_with url: search_events_path, method: :get, local: true do %>
                <div>
                  <%= text_field_tag :query, params[:query], placeholder: "Search...", class: "w-full rounded-xl p-4 text-sm bg-grey10" %>
                </div>
              <% end %>
            </div>            
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="bg-gradient-to-r from-green4 to-green2">
      <div class="flex flex-row items-baseline pl-8 pt-4 pb-4">
        <div class="hover:border-b-2 hover:border-green9">
        <p class="text-green9 font-medium"><%= link_to 'File a bug report', 'https://github.com/Flite999/techpdx-calendar/issues' %></p>
        </div>
        <div class="ml-6 hover:border-b-2 hover:border-green9">
          <p class="text-green9 font-medium"><%= link_to 'Github', 'https://github.com/Flite999/techpdx-calendar', target: 'blank' %></p>
        </div>
        <div class="ml-6 flex items-center hover:border-b-2 hover:border-green9">
          <p class="text-green9 font-medium"><%= link_to 'Join the TechPDX Discord Community!', 'https://discord.gg/RcuHZNdr8w', target: 'blank' %></p><i class="fab fa-discord text-green8 ml-2"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
